.team-members-section {
    margin: 10px;
}
.team-members__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-members__content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-members__member {
    border: 1px solid #e1dada;
    padding: 20px;
    border-radius: 10px;
}
